.header
{
    display: flex;
    justify-content: space-between;
    
}
.header:hover
{
   
    background-color: rgb(210, 212, 212);
    
}

.logo
{
    width: 150px;
    height: 150px;
}

.header > ul{
    display: flex;
}

.header > ul > li
{
  list-style-type: none;
  padding: 10px;
  font-size: 25px;
}

.top-res
{
    padding: 20px;
}

.res-card
{
    width: 300px;
    height:600px ;
    padding: 10px;
 
    justify-content: space-between;
    margin: 10px;
   
}
.res-item-img
{
    width: 280px;
    padding: 10px;
}
.restaurant-cart:hover
{
    background-color: rgb(211, 186, 186) ;

}
.Cart-items
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    cursor: pointer;
    

}

.Cart-items:hover
{
    color: brown;
    box-shadow: 0 0 20px 0px rgba(211, 160, 160, 0.2);
}

.shimmer-container
{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-cart
{
    margin: 10px;
    padding: 10px;
    background-color: rgb(179, 176, 176);
    width: 300px;
    height: 500px;
}
.login
{
    height: 50px;
    padding: 0px 20px;
}
.search-bar
{
    display: flex;
    height: 40px;
}
